.assetTitle {
    opacity: 0.6;
    color: #202426;
    font-size: 18;
    font-weight: normal;
    padding-bottom: 10px;
    margin-top: 20px;
}

.startColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;    
}

.spaceRow { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* 계산기 말풍선 */
.empty-room{
    position: absolute;
    background: #ffffff;
    color: #202426;
    bottom: 250px;
    right: 370px;
    font-size: 14px;
    width: 130px;
    padding: 15px;
    z-index: 7;
}
.empty-room:after{
    top: 100%;
    left: 131.45px;
    transform: translate(3px, -1px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #ffffff;
    border-top-color: #ffffff;
    border-width: 8px;
}

.mobile-empty-room{
    position: absolute;
    background: #ffffff;
    color: #202426;
    bottom: 130px;
    right: 110px;
    font-size: 10px;
    width: 180px;
    padding: 10px;
    text-align: center;
    z-index: 7;
}
.mobile-empty-room:after{
    left: 100%;
    bottom: 12px;
    transform: translate(0px, -1px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-width: 8px;
}

.grid-container {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: auto auto;
    width: 56vw;
    min-width: 1060px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: flex-start;
}

.mobile-grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto;
    width: 90vw;
    min-width: 300px;
    margin-bottom: 40px;
    align-items: center;
}

.desktop-ranking-grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    width: 580px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-ranking-grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto auto;
    width: 260px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.creator-info {
    cursor: pointer;
    width: 430px;
    height: 152px;
    padding: 40px 40px 30px 40px;
    border-radius: 15px;
    border: 1px solid #D2D3D3;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator-info:hover {
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.12);
    border: 0;
}

.information:hover {
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.12);
    border: 0;
}

.safari-design {
    -webkit-appearance: none;
}