.assetTitle {
    opacity: 0.6;
    color: #202426;
    font-size: 18;
    font-weight: normal;
    padding-bottom: 10px;
    margin-top: 20px;
}

.startColumn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;    
}

.spaceRow { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* 계산기 말풍선 */
.empty-room{
    position: absolute;
    background: #ffffff;
    color: #202426;
    bottom: 250px;
    right: 250px;
    font-size: 14px;
    width: 130px;
    padding: 15px;
    z-index: 7;
}
.empty-room:after{
    top: 100%;
    left: 131.45px;
    transform: translate(3px, -1px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #ffffff;
    border-top-color: #ffffff;
    border-width: 8px;
}

.mobile-empty-room{
    position: absolute;
    background: #ffffff;
    color: #202426;
    bottom: 130px;
    right: 110px;
    font-size: 10px;
    width: 180px;
    padding: 10px;
    text-align: center;
    z-index: 7;
}
.mobile-empty-room:after{
    left: 100%;
    bottom: 12px;
    transform: translate(0px, -1px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-width: 8px;
}

.grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: auto auto auto auto;
    width: 56vw;
    min-width: 1060px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.mobile-grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto;
    width: 90vw;
    min-width: 300px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}